* {
    padding: 0px;
    margin: 0px;
    border-width: 0px;
    font-size: calc(16px + .5vw);
}

h2 {
    color: purple;
}

h3 {
    color: blue;
}

.title {
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

.placeholder {
    width: 60px;
    height: 60px;
}

.non-title {
    font-family:'Courier New', Courier, monospace;
}

.project-name {
    font-weight: bold;
}

img {
    border-radius: 5px;
}

.project-card {
    border-color:blueviolet;
    border-radius: 5%;
    border-style: outset; 
    padding: 10px;
    margin: 10px;
}

.portfolio-flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}